@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: linear-gradient(to bottom, rgb(255, 248, 154), #ffffff);
    height: 100%;
    background-repeat: no-repeat;
  }
  html {
    height: 100%;
  }

.janela {
    display: flex;
    width: flex;
    height: 100%;
    /* justify-content: space-between; */
    }
  

  #icone:hover{
    transition: 200ms;
    transform: scale(1.1);
  }
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid black;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255 245 195));
  }
  
  .dash-right {
    display: flex;
    width: 75%;
    height: fit-content;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 5%;
  }
  
  .header-left img {

    height: 150px ;
    width: 150px ;
    border-radius: 80px;
    
  }

  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #000000;
    font-weight: 300;
    font-size: 1.2rem;
    font-weight: bolder;

  }
  
  .hello h3 span {
    color: #000000;
  }
  
  .btn-nav {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 2% 5%;
    cursor: pointer;
    width: 8rem;
    border: solid 4px black;
    text-decoration: none;
    color:black;

  }

  .btn-nav-escolhida{
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 2% 5%;
    cursor: pointer;
    width: 10rem;
    border: solid 4px rgb(255, 255, 255);
    box-shadow: 3px 6px 8px #000000;;

  }

  .btn-nav:hover {
    background-color:#000000 ;
    transition: 300ms;

  }
  .btn-nav a{
    text-decoration: none;
    color:black;
  }

  .btn-nav a:hover{
    text-decoration: none;
    color:white;
  }

  .btn-nav:hover a {
    color: white;
}


  
  .btn-nav h3,
  .btn-logout h3,
  .btn-nav-escolhida {
    margin: 0;
    padding: 0;
  }

  
  .btn-logout {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
    width: 8rem;
    border: solid 4px black;
  }
  .btn-logout:hover{
    background-color: black;
  }

  .btn-logout h3:hover{
    text-decoration: none;
    color:white;
  }
  
  .btn-logout:hover h3 {
    color: white;
}


  
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Heebo&display=swap');
.dash-right .avisos {
    width: 90%;
    /* border: 3px solid pink; */
    color: rgb(216, 216, 216);
  }
  
  .dash-right .avisos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dash-right .avisos .container .div-form {
    width: 100%;
  }
  
  .dash-right .avisos .container .div-form #form_postagem {
    width: 99%;
  }
  
  .dash-right .avisos .div-form label {
    width: 100%;
  }
  
  .dash-right .avisos .div-form input {
    width: 90%;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #32b9cd;
  }
  
  
  .dash-right .avisos .div-form button {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #32b9cd;
    width: 60px;
    height: 55px;
    border-radius: 100px;
  }
  
  .publicacao-btn-editar {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #32b9cd;
    width: 80px;
  }
  
  .publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #febf39;
    color: black;
    border-bottom: 3px solid #32b9cd;
    padding: 20px;
    margin-bottom: 5%;
  }
  
  .publicacao > *:not(:last-child) {
    padding: 0 0 10px 0;
  }
  
  .div-results {
    width: 100%;
  }
  
  .div-results .feed-container {
    border-radius: 5px;
    margin-bottom: 80px;
  }
  
  .div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-buttons > * {
    margin-left: 30px;
  }

  .graph {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    font-weight: bold;
  }
  
  .dash-right {
    display: block;
    width: 20rem;
    height: 19rem;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 18rem;
    border: solid 4px rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem 3rem;
}

.dash-right-2 {
  display: block;
  width: 20rem;
  height: 19rem;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 9rem;
  border: solid 4px rgb(0, 0, 0);
  font-weight: bold;
  padding: 1rem 3rem;
}

  .kpi{
    display: flex;
    height: 8rem;
    width: 15rem;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-wrap: wrap;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    border: 4px solid black;
    
  }
  .kpi:hover{
    box-shadow: -8px 8px black;
  }

  .kpi:hover{
    cursor: pointer;
    background-color:  #6e6e6e;
    color: #ffffff;
  }

  .cards  {
    display: flex;
    height: 30%;
    width: 71%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5e5e5ebe;
    border-radius: 35px;
    margin-right: 25px;
    margin-top  : 25px;
    margin-left: 21rem;
  }

  .kpi .tooltiptext {
    
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

   top: 32px;
   
   
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .dash{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
  }
  .graficos_painel{
    display: flex;
  }
  .centralizar_icon{
    display: flex;
    width: 100%;
    font-size: 0.9rem;
    align-items: center;
    font-weight: 600;
  }
  .resultado_kpi{
    font-size: 3rem;
    font-weight: bolder;
  }
  .icon_kpi{
    width: 30px;
    height: 30px;
    margin-left: 0.4rem;
  }
